# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
import datetime
current_date_time = datetime.datetime.now()

print(current_date_time)

2023-08-03 22:50:06.121741

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [3]:
import math
def areaofCircle(radius):
    return radius * radius * math.pi

print(areaofCircle(2))

12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [11]:
def uniqueList(input_list):
    if input_list == list(set(input_list)):
        return True
    else:
        return False

uniquelst = [2,4,5,7,9]
dupeslst = [2,4,5,5,7,9]
print(uniqueList(uniquelst))
print(uniqueList(dupeslst))

True
False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [97]:
with open("C:/Users/kaguy/Desktop/summer-prep-hws/2023-python-summer-prep/week-03/data/lil-wayne.txt") as f:
    lines = f.readlines()
frequency = {}
for line in lines:
    for char in line:
        if not char.upper() in frequency:
            frequency[char.upper()] = 1
        else:
            frequency[char.upper()] += 1
print(frequency)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [100]:
highest_freq = sorted(frequency.items(), key=lambda x:x[1], reverse=True)
print(highest_freq)

[(' ', 522), ('E', 274), ('A', 211), ('I', 185), ('T', 180), ('N', 165), ('R', 152), ('S', 152), ('O', 145), ('L', 126), ('H', 122), ('M', 77), ('D', 74), ('U', 66), ('W', 63), ('C', 60), ('B', 59), ('G', 53), ('Y', 44), ('F', 44), ('P', 39), (',', 37), ('0', 36), ('1', 28), ('.', 26), ('2', 24), ('V', 20), ('9', 16), ('[', 14), (']', 14), ('K', 13), ('(', 12), (')', 12), ('J', 8), ('7', 7), ('8', 6), ('\n', 6), ('-', 6), ('X', 5), ('5', 5), ('4', 4), ('6', 3), ('3', 2), (';', 1), ('!', 1), ('Â', 1), ('€', 1), ('”', 1)]

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [25]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
num = list1.pop(3)
list1.append(num)

print(list1)

[1, 1, 2, 5, 8, 13, 21, 3]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [36]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []

for i in original_list:
    if i%3 == 0:
        new_list.append(i)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [3]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [37]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []
for i in original_list:
    new_list.append(i*i)
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [38]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
    print(list1[i], list2[len(list1)-1-i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [45]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

while '' in list_of_strings:
    list_of_strings.remove('')

print(list_of_strings)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [56]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

def check999(sample_dict):
    for i in sample_dict:
        if sample_dict[i] == 999:
            return True
    return False

print(check999(sample_dict))

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [59]:
import pandas as pd
df = pd.read_csv("C:/Users/kaguy/Desktop/summer-prep-hws/2023-python-summer-prep/week-03/data/titanic.csv")
df.head()

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [62]:
df['age'].mean()

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [70]:
print(df['age'].min())
print(df['age'].max())
df['age'].describe()

0.42
80.0

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

## How many people embarked from station 'S'?

In [80]:
embarked = df.loc[df['embarked'] == 'S']
embarked.count()

passengerid    644
survived       644
pclass         644
name           644
sex            644
age            554
sibsp          644
parch          644
ticket         644
fare           644
cabin          129
embarked       644
dtype: int64